<template>
    <div class="container">
        <div class="title">
            <h2>
                Portfolio
            </h2>
            <p>
                Some text after title
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Portfolio"
    }
</script>

<style scoped>

</style>