<template>
    <div class="container">
        <div class="title">
            <h2>
                Services
            </h2>
            <p>
                Some text after title
            </p>
        </div>
        <div class="services clearfix">
            <div class="services_item">
                <img src="../../assets/image/icon1.png" alt="Услуга"/>
                <h3>E-Commerce</h3>
                <p>
                    Proin iaculis purus consequat sem cure
                    digni ssim. Donec porttitora entum suscipit
                    aenean rhoncus posuere odio in tincidun
                </p>
            </div>
            <div class="services_item">
                <img src="../../assets/image/icon2.png" alt="Услуга"/>
                <h3>Responsive web</h3>
                <p>
                    Proin iaculis purus consequat sem cure
                    digni ssim. Donec porttitora entum suscipit
                    aenean rhoncus posuere odio in tincidun
                </p>
            </div>
            <div class="services_item">
                <img src="../../assets/image/icon3.png" alt="Услуга"/>
                <h3>Web Security</h3>
                <p>
                    Proin iaculis purus consequat sem cure
                    digni ssim. Donec porttitora entum suscipit
                    aenean rhoncus posuere odio in tincidun
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "services"
    }
</script>

<style scoped>
    .services {
        margin-top: 50px;
    }

    .services_item {
        width: 270px;
        float: left;
        text-align: center;
        line-height: 1.55em;
    }

    .services_item h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .services_item p {
        color: #777777;
        font-size: 14px;
    }

    .services_item:last-child {
        float: right;
    }

    .services_item:nth-child(2) {
        margin-left: 60px;
    }
</style>