#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: url(../image/first-bg.jpg) no-repeat center top / cover;
    padding-bottom: 160px
}

.container {
    width: 930px;
    margin: 0 auto;
    padding-top: 115px;
}
.title {
}
.title h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.title p{
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}
