<template>
    <div class="container">
        <section id="services">
            <Services></Services>
        </section>
        <section id="portfolio">
            <Portfolio></Portfolio>
        </section>


    </div>
</template>

<script>
    import Portfolio from "./content_sections/Portfolio";
    import Services from "./content_sections/Services";

    export default {
        name: 'content',
        props: {},
        components: {
            Portfolio,
            Services
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >


    #services {
        padding-bottom: 120px;
    }
    #portfolio {
        background: #f7f7f7;
    }
</style>