<template>
    <div class="container">
        <h1>footer</h1>

    </div>
</template>

<script>
    export default {
        name: 'footer',
        props: {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {

    }
</style>