<template>
    <div class="container">
        <div class="heading clearfix">
            <img src="../assets/image/logo.png" alt="" class="logo">
            <nav>
                <ul class="menu">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="titles">
            <div class="titles_first">Welcome to Our Studio</div>
            <h1>
                Iy's nice to Meet you
            </h1>
        </div>
        <a class="button" href="#">Tell Me More</a>

    </div>
</template>

<script>
    export default {
        name: 'header',
        props: {
            msg: String
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .logo {
        margin-top: 41px;
        float: left;
    }
    .clearfix:after{
        content:'';
        display: table;
        width: 100%;
        clear: both;
    }
    nav {
        float: right;
        margin-top: 50px;
    }
    .menu {
        padding: 0;
        margin: 0;
        display: block;
    }
    .menu li {
        float: left;
        display: block;
        margin-right: 41px;
    }
    .menu a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }
    .titles_first{
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 180px;
    }
    h1{
        font-size: 75px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin: 15;
    }
    .button{
        background: #fed136;
        color: #484543;
        border-radius: 3px;
        display: block;
        width: 240px;
        padding: 20px 0;
        margin: 0 auto;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        margin-top: 50px;
    }
</style>
