<template>
    <div id="app">
        <header>
            <HeadSection msg="header"/>
        </header>
        <section >
            <ContentSection/>
        </section>
        <footer>
            <FooterSection/>
        </footer>
    </div>
</template>

<script>
    import FooterSection from './components/FooterSection.vue'
    import HeadSection from './components/HeadSection.vue'
    import ContentSection from './components/ContentSection.vue'

    export default {
        name: 'app',
        components: {
            FooterSection,
            HeadSection,
            ContentSection
        }
    }
</script>

<style>

</style>
